@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

@layer utilities {
    .sci-fi-glow {
        box-shadow: 0 0 10px rgba(6, 182, 212, 0.5),
            0 0 20px rgba(6, 182, 212, 0.3),
            inset 0 0 5px rgba(6, 182, 212, 0.2);
    }

    .sci-fi-border {
        border: 1px solid rgba(6, 182, 212, 0.4);
    }
}